* {
	position: relative;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100vh;
}

html {
	/* Variables */
	--column: 80rem;
	--side: 1rem;
	--blue: hsl(208, 74%, 30%);
	--black: hsl(0, 2%, 12%);
	--white: hsl(0, 2%, 89%);
	--red: hsl(0, 100%, 50%);
	--paper: hsl(0, 2%, 89%);
	--yellow: hsl(54, 87%, 62%);

	--accent: var(--yellow);
	--primary: var(--blue);
	--text-light: var(--white);
	--text-dark: var(--black);
	--error: var(--red);

	--border: 1px solid var(--black);
	--border-radius: 7px;

	background: radial-gradient(circle at 50% 0%, hsl(132, 96%, 31%), hsl(132, 96%, 25%));
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

body {
	display: flex;
	flex-direction: column;
}
